@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .card {
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      width: 50%;
      border-radius: 5px;
      padding: 10px;
      margin: auto;
      text-align: center;
  }

  #message {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    margin-top: 60px;
    border-radius: 5px;
    text-align: center;
    display: none;  
}

  .input {
      width: 100%;
      padding: 8px;
      margin-top: 4px;
      margin-bottom: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: none;
  }
}

@layer utilities {
  .padding {
    @apply sm:px-16 px-8 sm:py-24 py-12;
  }

  .padding-x {
    @apply sm:px-16 px-8;
  }

  .padding-y {
    @apply sm:py-24 py-12;
  }

  .padding-l {
    @apply sm:pl-16 pl-8;
  }

  .padding-r {
    @apply sm:pr-16 pr-8;
  }

  .padding-t {
    @apply sm:pt-24 pt-12;
  }

  .padding-b {
    @apply sm:pb-24 pb-12;
  }

  .info-text {
    @apply font-montserrat text-slate-gray text-lg leading-7;
  }
}